@use './variables' as *;

.about {
    display: flex;
    background-color: black;
    padding-top: 30px;
}

.aboutImageContainer {
    display: flex;
    justify-content: center;
    img {
        width: 200px;
        border-radius: 100px;
        margin-top: 30px;
    }
}
.aboutName {
    display: flex;
    justify-content: center;
    h2 {
        color: $offWhite;
        font-size: 3rem;
        font-weight: 500;
        border-bottom: solid #cc4c28 5px;
        margin: 0;
    }
}

.aboutTextContainer {
    display: flex;
}

p {
    color: $offWhite;
    font-size: 1.1rem;
    font-weight: 100;
    line-height: 27px;
    letter-spacing: 1px;
    font-family: $baseFont;
    margin-bottom: 50px;
    margin-top: 40px;
    span {
        display: block;
    }
}


