@use './variables' as *;

.contact {
    display: flex;
    justify-content: center;
    height: 300px;
    position: relative;
    video {
        object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    }
}

.socials {
    display: flex;
    justify-content: center;
    img {
        filter: invert(100%);
        width: 30px;
        transition: all 0.1s ease-in-out;
        margin: 0;
    }
}

.middleIcon {
    margin: 0 10px;
}

.socials img:hover {
    transform: scale(1.1);
}

.emailButton {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    a {
        text-decoration: none;
        font-family: $baseFont;
        color: $offWhite;
        font-size: 1rem;
        background-color: black;
        padding: 5px;
        transition: all ease-in-out 0.3s;
    }
}

.emailButton a:hover {
    box-shadow: 0px 3px $primaryColor;
    cursor: pointer;
}





