@use './_variables.scss' as *;

@media screen and (max-width: 950px) {
// PROJECTS SECTION
    .projectDescription {
        display: none;
    }

    .projectTextContainer h2 {
        font-size: 1.3rem;
    }

    .projectSkills {
        font-size: 0.6rem;
    }
}


@media screen and (max-width: 840px) {
// PROJECTS SECTION
    .projectSkills {
            font-size: 0.5rem;
        }
}

@media screen and (max-width: 768px) {
// PROJECTS SECTION

    .projectsContainer {
        flex-direction: column;
        margin: 0;
    }

    .project {
        width: 100%;
        margin-bottom: 25px;
        margin-top: 25px;
    }

    .projectTextContainer h2 {
        font-size: 1.5rem;
        margin-top: 30px;
        padding: 0;
    }

    .projectSkills {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 575px) {
// PROJECTS SECTION

    .projectSkills {
        font-size: 0.6rem;
    }

    .projectDescription {
        display: none;
    }
}

@media screen and (max-width: 480px) {

// HEADER SECTION
    h1 {
        font-size: 3.3rem;
    }

// PROJECTS SECTION
    .projectTextContainer h2 {
        display: none;
    }

    .projectSkills {
        display: none;
    }

    .projectDescription {
        display: none;
    }

    .enter:first-of-type {
        margin-top: 10px;
    }
}