@use './_variables.scss' as *;

@media screen and (max-width: 768px) {
// PROJECTS SECTION
    .projectsContainer {
        flex-direction: column;
        margin: 0;
    }

    .project {
        width: 100%;
        margin-bottom: 25px;
        margin-top: 25px;
    }
}

@media screen and (max-width: 575px) {
// SKILLS SECTION
    .skill {
        margin: 20px 100px 30px 100px;
        &:last-of-type {
            margin-bottom: 80px;
        }
    }
}

@media screen and (max-width: 516px) {
// HEADER SECTION
    h1 {
        font-size: 3.3rem;
    }

// PROJECTS SECTION
    .projects {
        .wrapper {
            padding: 0;
        }
    }

    .project {
        margin-top: 20px;
    }
}