@use './variables' as *;

.projects {
    background-color: $black;
    padding-bottom: 40px;
}

.projectsTitle {
    display: flex;
    justify-content: center;
    h2 {
        color: $offWhite;
        font-size: 3rem;
        font-weight: 500;
        border-bottom: solid $primaryColor 5px;
        margin-top: 30px;
        margin-bottom: 35px;
        padding: 0;
    }
}

.projectsContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.project {
    position: relative;
    flex-direction: column;
    width: 48%;
    img {
        width: 100%;
    }
}

.projectHover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $black;
    opacity: 0%;
    transition: all  ease-in-out 0.5s;
    &:focus,
    &:hover {
        opacity: 90%;
    }
}

.projectSkills {
    font-weight: 500;
    font-size: 0.7rem;
    margin: 0;
    color: $primaryColor;
}

.projectName {
    color: $offWhite;
    text-align: center;
    color: $offWhite;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px;
}

.projectIcons {
    display: flex;
    justify-content: center;
}

.iconDescription {
    opacity: 0;
    font-size: 0.8rem;
    margin: -10px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}



.iconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enter {
    color: $offWhite;
    font-size: 4.2rem;
    margin: 0px 20px;
    transition: all 0.3s ease-in-out;
    &:hover,
    &:focus {
        color: $primaryColor;
    }
    &:hover ~ .iconDescription {
        opacity: 1;
    }
}